
.btn-due {
  position : absolute;
  top: 3%;
  left: 5%
}

.button-container {
  margin-top:80px;
  display:none
}


.parent {
  position: 'relative';
  width: 100%;
  height: 100%;
}

.btn-logout {
   position:absolute;
   top:3%;
   right:5%;
}

.school {
  display: flex;
  position: relative;
  left: 35rem;
  width:30%;
  font-weight:bold
}

.search-section {
  display:flex;
  justify-content:center;
  margin-top:50px
}

.students {
  margin-left:170px;
  margin-top:100px
}

.student {
  display:flex;
  margin:30px;
  border-radius: 20px;
  box-shadow: rgba(0,0,0,0.8) 0 0 10px;
  align-items:center;
  height:40px;
  width:80%
}

.student-name{
  margin-right: 30px;
  width:400px;
  margin-left:10px
}

.student-section{
  margin-right: 50px
}





