.btn-student {
  font-size: 21px;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  position: 'relative';
  bottom:0;
  right:0;
  
}

.parent {
  position: 'relative';
  width: 100%;
  height: 100%;
}

.btn-logout {
  display: flex;
  position: relative;
  top: 35rem;
  left: 32rem;
}

.school {
  display: flex;
  position: relative;
  left: 35rem;
}

.search-section {
  display:flex;
  justify-content:center
}





