.btn-student {
  font-size: 21px;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  position: 'relative';
  bottom:0;
  right:0;
  
}

.parent {
  position: 'relative';
  width: 100%;
  height: 100%;
}

.btn-logout {
  display: flex;
  position: relative;
  top: 35rem;
  left: 32rem;
}

.school {
  display: flex;
  position: relative;
  left: 35rem;
}

.search-section {
  display:flex;
  justify-content:center
}

.students {
  margin-left:200px;
  margin-top:100px
}

.student {
  display:flex;
  margin:30px;
  border-radius: 20px;
  box-shadow: rgba(0,0,0,0.8) 0 0 10px;
  align-items:center;
  height:40px;
  width:80%
}

.student-name{
  margin-right: 30px;
  width:400px;
  margin-left:10px
}

.student-section{
  margin-right: 50px
}





